body{
      background-color: powderblue;

}

img {
  height: 500px;
  width:  400px;

}

h2{
    color: black;

}

button{
        color: black;
        background-color: #F4FCFB;
        border-radius: 8px;

      }

      input[type=text] {
  width: 13%;
  margin: 8px 0;
  padding: 4px 4px;


}
